body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    color: white;
    display: flex;
}

.header h1 {
    padding-left: 25px;
}

.main-content {
    margin: 25px;
}

.output-box {
    background-color: black;
    padding: 10px;
    margin-top: 25px;
    color: white;
}

.output-box a {
    text-decoration: none;
    color: white
}

.import-box{
    padding: 10px;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.import-box a{
    color: #20C20E;
    text-decoration: none;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.footer a {
    text-decoration: none;
    color: white;
}